body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #007acc;
    text-decoration: none;
    border-radius: 5px;
}

#docs-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-top: 0;
}

.btn:hover {
    background-color: #005f99;
}
